/node_modules
/public/hot

/public/assets/fonts
/public/assets/img
/public/assets/modules
/public/assets/css/*
!/public/assets/css/custom.css

/public/assets/js/*
!/public/assets/js/custom.js

/public/storage
/storage/*.key
/vendor/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
